@font-face {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  src: url("fontawesome-webfont.eot") format("embedded-opentype"), url("fontawesome-webfont.woff2") format("woff2"), url("fontawesome-webfont.woff") format("woff"), url("fontawesome-webfont.ttf") format("truetype"), url("fontawesome-webfont.svg") format("svg");
}
.fa { display: inline-block; font-family: FontAwesome; font-style: normal; font-weight: normal; line-height: 1; font-size-adjust: none; font-stretch: normal; font-feature-settings: normal; font-language-override: normal; font-kerning: auto; font-synthesis: weight style; font-variant: normal; font-size: inherit; text-rendering: auto; }
@keyframes fa-spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(359deg); }
}
@keyframes fa-spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(359deg); }
}
.fa-home::before { content: ""; }
.fa-map-marker::before { content: ""; }
.fa-chevron-left::before { content: ""; }
.fa-phone::before { content: ""; }
.fa-navicon::before, .fa-reorder::before, .fa-bars::before { content: ""; }
.fa-envelope::before { content: ""; }
.fa-file-text-o::before { content: ""; }
.fa-angle-up::before { content: ""; }
.fa-instagram::before { content: ""; }
.fa-vk::before { content: ""; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0px; padding: 0px; border: 0px none; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: outside none none; }
table { border-collapse: collapse; border-spacing: 0px; }
@font-face {
  font-family: "slick";
  font-style: normal;
  font-weight: normal;
  src: url("slick.eot") format("embedded-opentype"), url("slick.woff") format("woff"), url("slick.ttf") format("truetype"), url("slick.svg") format("svg");
}
@keyframes fadeOut {
0% { opacity: 1; }
100% { opacity: 0; }
}
.owl-carousel1, .owl-carousel1 .owl-item { position: relative; }
.owl-carousel1 { display: none; width: 100%; z-index: 1; }
.owl-carousel1 .owl-stage { position: relative; backface-visibility: hidden; }
.owl-carousel1 .owl-stage::after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0px; }
.owl-carousel1 .owl-stage-outer { position: relative; overflow: hidden; transform: translate3d(0px, 0px, 0px); }
.owl-carousel1 .owl-item, .owl-carousel1 .owl-wrapper { backface-visibility: hidden; transform: translate3d(0px, 0px, 0px); }
.owl-carousel1 .owl-item { min-height: 1px; float: left; backface-visibility: hidden; }
.no-js .owl-carousel1, .owl-carousel1.owl-loaded { display: block; }
.owl-carousel1 .owl-dot, .owl-carousel1 .owl-nav .owl-next, .owl-carousel1 .owl-nav .owl-prev { cursor: pointer; -moz-user-select: none; }
.owl-carousel1.owl-drag .owl-item { -moz-user-select: none; }
@keyframes fadeOut {
0% { opacity: 1; }
100% { opacity: 0; }
}
#flvmenu { display: block; margin: 0px auto; max-width: 1100px; position: relative; }
#flvmenu > ul > li > a, #flvmenu > ul > li > ul > li > a, #flvmenu > ul > li > ul > li > ul > li > a, #flvmenu > ul > li > ul > li > ul > li > ul > li > a { text-decoration: none; display: block; cursor: pointer; }
#flvmenu > ul > li { display: inline-block; position: relative; margin-right: -4px; }
#flvmenu > ul > li > ul { display: none; position: absolute; top: 100%; z-index: 1000; }
#flvmenu > ul > li > ul > li > ul { display: none; position: absolute; top: 0px; left: 100%; z-index: 1000; }
#flvmenu > ul > li:last-child > ul > li > ul { display: none; position: absolute; top: 0px; left: -100%; z-index: 1000; }
#flvmenu > ul > li ul li { display: block; position: relative; }
#flvmenu > ul > li:hover > ul { display: block; }
#flvmenu > ul > li > ul > li:hover > ul { display: block; }
#flvmenu > ul > #fllast { display: none; font-weight: 500; }
#flvmenu { background-color: rgb(72, 162, 22); font-size: 14px; }
#flvmenu ul > li ul { background-color: rgb(255, 255, 255); }
.minmenu { display: none; }
#flvmenu > ul > li > a { color: rgb(255, 255, 255); font-size: 16px; text-transform: uppercase; }
#flvmenu > ul > li ul li { width: 200px; border-top: 1px solid rgb(238, 238, 238); box-sizing: border-box; }
#flvmenu > ul > li ul li:first-child { border-top: 0px none; }
#flvmenu > ul > li:hover { background-color: rgb(124, 130, 188); }
#flvmenu > ul > li ul li:hover { background-color: rgb(72, 162, 22); }
#flvmenu > ul > li ul { box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.2); }
#flvmenu > ul > li a { display: inline-block; padding: 15px 30px; }
#flvmenu > ul > li a:hover { color: rgb(255, 255, 255); }
#flvmenu > ul > li ul li a { padding: 15px 20px; color: rgb(0, 0, 0); font-size: 1em; }
#flvmenu > ul > li > .flarr { top: 16px; right: 0px; }
#flvmenu > ul > li ul li .flarr { top: 8px; right: 0px; }
#flvmenu > ul > li .flarr { padding: 0px; }
#flvmenu > ul > li > a.flarr::after { content: ""; font-family: FontAwesome; display: inline-block; margin-left: -24px; margin-right: 10px; }
#flvmenu > ul > li ul li a.flarr::after { content: ""; font-family: FontAwesome; position: absolute; display: inline-block; top: 15px; right: 15px; }
#flvmenu > ul > li ul li:hover a.flarr { color: rgb(255, 255, 255); }
#flvmenu > ul > li ul li:hover > a { color: rgb(255, 255, 255); }
@media (max-width: 768px) {
  .minmenu { display: block; cursor: pointer; }
  .minmenu i { padding-left: 25px; line-height: 45px; font-size: 24px; color: rgb(255, 255, 255); }
  .minmenu a { padding-left: 10px; padding-right: 10px; line-height: 45px; font-size: 20px; color: rgb(255, 255, 255); }
  #flvmenu > ul { position: relative; left: 0px; top: 100%; z-index: 999; }
  #flvmenu > ul li { width: 100%; }
  #flvmenu > ul > li > ul, #flvmenu > ul > li > ul > li > ul { display: block; position: relative; overflow-y: hidden; width: auto; left: 0px; }
  #flvmenu > ul > li > ul > li, #flvmenu > ul > li > ul > li > ul > li { width: auto; }
  #flvmenu > ul { background-color: rgb(72, 162, 22); width: 100%; }
  #flvmenu > ul li ul { background-color: rgb(72, 162, 22); }
  #flvmenu > ul li a { color: rgb(255, 255, 255) ! important; display: block; }
  #flvmenu > ul > li { display: block; }
  #flvmenu > ul > li > a { font-size: 18px; }
  #flvmenu > ul > li > ul > li > a { font-size: 16px; }
  #flvmenu > ul > li > ul, #flvmenu > ul > li > ul > li > ul { border: medium none; }
  #flvmenu > ul > li > ul > li a { padding-left: 40px; }
  #flvmenu > ul > li > ul > li > ul > li a { padding-left: 35px; }
  #flvmenu > ul > li > a.flarr::after, #flvmenu > ul > li ul li a.flarr::after { content: ""; }
  #flvmenu > ul > li ul { box-shadow: none; }
  #flvmenu > ul > li .flarr, #flvmenu > ul > li ul li a.flarr { position: absolute; top: 0px; padding: 15px; }
  #flvmenu > ul > li ul li { border-top: 0px none; }
}
div.menu-clear-left { clear: left; }
#arrup { height: 35px; width: 35px; font-size: 26px; line-height: 32px; text-align: center; background-color: rgb(255, 255, 255); color: rgb(51, 51, 51); border: 2px solid rgb(51, 51, 51); border-radius: 4px; position: fixed; bottom: 30px; right: 20px; opacity: 0; transition: color 0.2s ease 0s, background 0.2s ease 0s, opacity 0.2s ease 0s, border 0.2s ease 0s; visibility: hidden; z-index: 1003; cursor: pointer; box-sizing: content-box; }
#header .head_slide { left: 0px; margin: 0px; position: fixed; right: 0px; top: -50px; height: 40px; width: 100%; z-index: 1000; background-color: rgb(255, 255, 255); box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2); transition: top 0.7s ease 0s; }
#header .hdslide_inn { margin: 0px auto; max-width: 1100px; padding: 0px 10px; }
#header .hdslide_home { float: left; background: rgb(72, 162, 22) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
#header .hdslide_home .fa { padding: 6px 10px; font-size: 1.8em; background: rgb(72, 162, 22) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
#header .hdslide_contact { float: right; margin: 10px 20px 0px 0px; text-align: right; }
#header .hdslide_contact_nomer { font-size: 1.2em; }
#header .hdslide_contact_callback, #header .hdslide_contact_zayvka { float: right; margin: 0px; }
#header .hdslide_contact_callback a, #header .hdslide_contact_zayvka a { display: block; padding: 11px 13px 12px; cursor: pointer; text-decoration: none; text-transform: uppercase; font-size: 0.9em; color: rgb(255, 255, 255); border-right: 1px solid rgb(238, 238, 238); }
#header .hdslide_contact_callback a { background-color: rgb(72, 162, 22); }
#header .hdslide_contact_zayvka a { background-color: rgb(68, 68, 68); }
#header .hdslide_contact_callback a:hover, #header .hdslide_contact_zayvka a:hover { opacity: 0.9; }
#header .hdslide_contact_email { float: right; margin: 11px 3% 0px 0px; }
#header .hdslide_contact_email a { color: rgb(0, 0, 0); }
@media (max-width: 1024px) {
  #header .hdslide_contact_email { display: none; }
}
@media (max-width: 890px) {
  #header .hdslide_contact_email, #header .hdslide_contact_zayvka { display: none; }
}
@media (max-width: 768px) {
  #header .head_slide { display: none; }
}
#form_vopros, #form_contacts, #form_zayvka_popup, #form_callback_popup, #form_zamer_popup, #form_zamer_calc, #form_slider_uslugi { background: rgb(247, 247, 247) none repeat scroll 0% 0% ! important; }
.feedback input[type="text"], .feedback textarea { box-sizing: border-box; padding: 7px 15px; color: rgb(85, 85, 85); background-color: rgb(255, 255, 255); background-image: none; border: 1px solid rgb(204, 204, 204); border-radius: 4px; font-family: inherit; font-size: 1em; outline: 0px none; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset; }
form .garant { font-size: 0.9em; margin: 10px 0px 30px; }
form .garant a { vertical-align: top; text-decoration: underline; }
form .garant a:hover { text-decoration: none; }
form .garant label { vertical-align: top; }
#garant_error_expert, #garant_error_calc, #garant_error_contacts, #garant_error_uslugi, #garant_error_zayvka, #garant_error_callback { color: red; }
#form_vopros { width: 100%; box-sizing: border-box; margin: 80px 0px 40px; padding: 30px 5%; text-align: center; border-width: 5px; border-style: solid; border-color: transparent; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: repeating-linear-gradient(45deg, rgb(228, 228, 228), rgb(228, 228, 228) 5px, transparent 5px, transparent 5px, rgb(228, 228, 228) 5px, rgb(228, 228, 228) 10px, transparent 10px, transparent 20px) 5 5 5 5; border-radius: 4px; overflow: hidden; }
#form_vopros .left { float: left; width: 100%; }
#form_vopros .right { float: right; display: none; }
#form_vopros .text { margin-bottom: 20px; }
#form_vopros .prorab img { width: 150px; height: auto; }
#form_vopros .prorab p { font-size: 0.9em; }
#form_vopros .text .title { margin: 10px 0px 20px; font-size: 1.4em; }
#form_vopros p { font-size: 1em; font-family: "Open Sans",Helvetica,Arial,sans-serif; line-height: 1.5; margin-bottom: 20px; }
#form_vopros input[type="text"] { width: 46%; margin-bottom: 10px; }
#form_vopros button { display: block; margin: 10px auto 0px; }
@media screen and (max-width: 768px) {
  #form_vopros { margin: 20px 0px; padding: 20px; }
  #form_vopros .left { float: none; width: 100%; }
  #form_vopros .right { display: none; }
  #form_vopros .text { margin-bottom: 10px; }
  #form_vopros .text .title { margin: 0px 0px 20px; }
  #form_vopros p { margin-bottom: 10px; }
  #form_vopros input[type="text"] { width: 100%; }
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 768px) {
}
#form_zayvka_popup { position: relative; max-width: 500px; margin: 0px auto; padding: 30px; text-align: center; border: 10px solid rgb(157, 156, 171); border-radius: 4px; }
#form_zayvka_popup .title { font-size: 1.7em; margin: 0px 0px 20px; }
#form_zayvka_popup input[type="text"] { width: 49.4%; margin-bottom: 10px; }
#form_zayvka_popup input.input100[type="text"] { width: 100%; }
#form_zayvka_popup textarea { width: 100%; height: 80px; }
#form_zayvka_popup button { display: block; margin: 10px auto 0px; }
@media screen and (max-width: 768px) {
  #form_zayvka_popup { width: 100%; box-sizing: border-box; }
  #form_zayvka_popup input[type="text"] { width: 100%; }
  #form_zayvka_popup textarea { width: 100%; height: 100px; }
}
#form_callback_popup { position: relative; max-width: 400px; box-sizing: border-box; margin: 0px auto; padding: 30px 40px; text-align: center; border: 10px solid rgb(157, 156, 171); border-radius: 4px; }
#form_callback_popup .title { font-size: 1.7em; margin: 0px 0px 20px; }
#form_callback_popup p { font-size: 0.9em; font-family: "Open Sans",Helvetica,Arial,sans-serif; line-height: 1.5; margin-bottom: 20px; }
#form_callback_popup input[type="text"] { width: 80%; margin-bottom: 10px; }
#form_callback_popup button { display: block; margin: 10px auto 0px; }
@media screen and (max-width: 768px) {
  #form_callback_popup { width: 100%; box-sizing: border-box; padding: 20px; }
  #form_callback_popup input[type="text"] { width: 100%; }
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 768px) {
}
.mfp-hide { display: none ! important; }
button::-moz-focus-inner { padding: 0px; border: 0px none; }
@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
}
@media all and (max-width: 900px) {
}
body { font: 1em "Trebuchet MS",Arial,Tahoma,Verdana,sans-serif; color: rgb(0, 0, 0); }
a { text-decoration: none; color: rgb(72, 162, 22); outline: 0px none; }
a:hover, a:focus { text-decoration: none; outline: 0px none; }
button { outline: 0px none; }
.owl-nav { position: absolute; top: -8%; right: 0%; }
.owl-prev { float: left; margin-right: 20px; transform: translateY(-50%); border: 0px none; background: transparent none repeat scroll 0px center; font: 20px/1 FontAwesome; color: rgb(204, 204, 204); }
.owl-next { float: left; transform: translateY(-50%); border: 0px none; background: transparent none repeat scroll 0px center; font: 20px/1 FontAwesome; color: rgb(204, 204, 204); }
.owl-next::before { content: ""; }
.owl-prev::before { content: ""; }
.ot_txt_z { font-weight: bold; margin: 20px 0px 10px; font-size: 16px; color: rgb(0, 0, 0); }
.ot_txt { text-align: justify; font-size: 14px; color: rgb(64, 64, 64); }
.button { padding: 13px 12px; border-radius: 4px; background: rgb(72, 162, 22) none repeat scroll 0% 0%; color: rgb(255, 255, 255); text-transform: uppercase; text-decoration: none ! important; cursor: pointer; font-size: 0.95em; }
.button:hover { text-decoration: none; opacity: 0.9; }
.dop_cep { width: 100%; float: left; border: 1px solid rgb(255, 102, 0); padding: 20px; box-sizing: border-box; color: rgb(255, 102, 0); margin: 40px 0px; }
.dop_cep_n { text-align: center; width: 100%; float: left; font-size: 28px; }
.dop_cep_z_it { width: 100%; text-align: center; display: inline-block; }
.dop_cep_z:hover { background: rgb(185, 75, 1) none repeat scroll 0% 0%; cursor: pointer; }
.dop_cep_z { display: inline-block; background: rgb(255, 102, 0) none repeat scroll 0% 0%; text-decoration: none ! important; color: rgb(255, 255, 255); padding: 10px 20px; margin-top: 20px; border-radius: 3px; }
@font-face {
  font-family: "Play";
  src: url("play.ttf");
}
#header_top, #header, #top_menu, #slider, #block_company, #wrapper, #footer_top, #footer_bottom, #footer_center { width: 100%; }
#header_top_main, #header_main, #block_company_main, #wrapper, #footer_top_main, #footer_bottom_main, #footer_center_main { max-width: 1100px; margin: 0px auto; box-sizing: content-box; }
#header { width: 100%; }
#header .fa { color: rgb(72, 162, 22); }
#header_top { background: rgb(247, 247, 247) none repeat scroll 0% 0%; color: rgb(0, 0, 0); overflow: hidden; }
#header_top a { color: rgb(0, 0, 0); }
#header_top_main { padding: 3px 10px; font-size: 0.9em; overflow: hidden; }
#header_top_address { float: left; margin: 7px 0px 0px; padding-right: 15px; font-size: 0.9em; }
#header_top_address .fa-map-marker::before { margin-right: 3px; font-size: 1.4em; }
#header_top_email { float: left; margin: 7px 0px 0px; padding-left: 15px; border-left: 1px solid rgb(136, 136, 136); }
#header_top_email .fa-envelope::before { margin-right: 3px; font-size: 1em; }
#header_top_search { float: right; margin: 7px 0px 0px; }
#header_logo img { height: 70px; }
#header_top_search input, button { border: medium none; outline: medium none; border-radius: 3px; box-sizing: border-box; }
#header_main { padding: 3px 10px; overflow: hidden; }
#header_logo { float: left; margin-top: 5px; }
#header_logo:hover { opacity: 0.7; }
#header_logo a { color: rgb(0, 0, 0); text-decoration: none; }
#header_logo_img { float: left; }
#header_logo_name { float: left; font-family: Play; font-size: 1.3em; font-weight: 600; letter-spacing: 0.06em; padding: 15px 0px 0px 10px; }
#header_contact { float: right; margin: 12px 0px 0px; text-align: right; }
#header_nomer { font-size: 1.4em; margin-bottom: 3px; position: relative; }
#header_nomer a, #header .hdslide_contact_nomer a { color: rgb(0, 0, 0); }
#header_zayavka { float: right; margin: 12px 6% 0px 0px; padding: 10px 5% 10px 0px; line-height: 1em; border-right: 1px solid rgb(204, 204, 204); }
#header_text { float: right; margin: 24px 5% 0px 0px; padding: 10px 5% 10px 0px; line-height: 120%; font-size: 0.9em; }
#header_zayavka .fa, #header_calc .fa { float: left; margin-right: 10px; font-size: 2em; }
#header_zayavka:hover { opacity: 0.7; }
#header_zayavka a { color: rgb(0, 0, 0); }
#top_menu_main { background: rgb(72, 162, 22) none repeat scroll 0% 0%; }
#top_menu a { color: rgb(255, 255, 255); text-transform: uppercase; }
#top_menu ul li:hover, #top_menu ul li.root-item-selected, #top_menu ul li.item-selected { background: rgba(0, 0, 0, 0.1) none repeat scroll 0% 0%; }
#top_menu ul li ul li.root-item-selected, #top_menu ul li ul li.item-selected { background: rgb(72, 162, 22) none repeat scroll 0% 0%; }
#top_menu ul li.item-selected > a { color: rgb(255, 255, 255); }
form#form_vopros_expert textarea { width: 100%; max-width: 462px; }
#wrapper { min-height: 500px; padding: 70px 10px; overflow: hidden; }
#breadcrumb { margin: 0px 0px 30px 300px; overflow: hidden; color: rgb(119, 119, 119); font-family: "Open Sans",Arial,"Helvetica Neue",Helvetica,sans-serif; }
#breadcrumb a { text-decoration: underline; font-size: 1.2em; }
#breadcrumb a:hover { text-decoration: none; }
#breadcrumb ul { list-style: outside none none; margin: 0px; }
#breadcrumb ul li { background: transparent none repeat scroll 0% 0%; float: left; margin: 0px 10px 0px 0px; font-size: 0.8em; }
#breadcrumb li + li::before { content: ""; font-family: fontAwesome; font-size: 1em; margin: 0px 10px 0px 0px; }
#breadcrumb ul li:first-child { margin-left: 0px; padding-left: 0px; }
#breadcrumb ul li:last-child { background: transparent none repeat scroll 0% 0%; font-size: 0.9em; line-height: 1.3; }
#sidebar { float: left; width: 250px; }
#sidebar_menu { overflow: hidden; }
#section_element_menu ul.menu-element-list-active2 a.item-selected { color: rgb(72, 162, 22); }
#section_element_menu ul#vertical-multilevel-menu > li.menu-section-active2 > a { background: rgb(72, 162, 22) none repeat scroll 0% 0%; }
#section_element_menu ul#vertical-multilevel-menu li a:hover { background: rgb(72, 162, 22) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
#content { margin-left: 300px; overflow: hidden; }
#content h1 { font-size: 1.9em; margin: 0px 0px 22px; }
#content h2 { font-size: 1.4em; margin: 27px 0px 10px; }
#content p, #content ul, #content ol { color: rgb(64, 64, 64); }
#content p { line-height: 1.5; margin: 0px 0px 10px; }
#content table { width: 100%; border: 1px solid rgb(222, 222, 222); font-size: 0.9em; margin: 20px 0px; }
#content td, #content th { padding: 15px 5px; text-align: center; border: 1px solid rgb(222, 222, 222); }
#content th { text-transform: uppercase; padding: 15px 5px; background: rgb(72, 162, 22) none repeat scroll 0% 0%; color: rgb(255, 255, 255); font-size: 0.9em; font-weight: 600; }
#content tr { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#content table td:first-child { text-align: left; padding-left: 24px; }
#content table tr:nth-child(2n+1) { background: rgb(252, 252, 252) none repeat scroll 0% 0%; }
#content ul, #content ol { margin: 10px 0px 20px 5%; }
#content ul { list-style: outside none square; }
#content ul li, #content ol li { line-height: 1.5; }
#content a { text-decoration: underline; }
#content a:hover { text-decoration: none; }
#content img { max-width: 100%; height: auto; }
#content b, #content strong { font-weight: 600; }
#footer a { color: rgb(136, 136, 136); }
#footer a:hover { color: rgb(204, 204, 204); }
#footer_top, #footer_bottom { width: 100%; background: rgb(34, 34, 34) none repeat scroll 0% 0%; overflow: hidden; }
#footer_top_main, #footer_bottom_main { padding: 35px 10px; overflow: hidden; }
#footer .title { font-size: 1.2em; margin: 0px 0px 20px; text-transform: uppercase; }
#footer_top_main .kontakty, #footer_top_main .company, #footer_top_main .proekty, #footer_top_main .dopmenu { box-sizing: border-box; }
#footer_top_main { border-bottom: 1px solid rgb(136, 136, 136); color: rgb(255, 255, 255); }
#footer_top_main .kontakty { float: right; width: 26%; padding-right: 5px; }
#footer_top_main .company, #footer_top_main .proekty, #footer_top_main .dopmenu { float: left; width: 24%; padding: 0px 5px; }
#footer_nomer { font-size: 1.5em; margin-bottom: 0px; }
#footer_callback { margin-bottom: 30px; }
#footer_callback a { padding: 6px 10px; border: 2px solid rgb(255, 255, 255); border-radius: 4px; color: rgb(255, 255, 255); cursor: pointer; display: inline-block; margin-top: 10px; }
#footer_callback a:hover { background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(0, 0, 0); }
#footer_email { margin-bottom: 10px; font-size: 0.9em; }
#footer_email a { color: rgb(136, 136, 136); }
#footer_address { font-size: 0.9em; margin-bottom: 30px; color: rgb(136, 136, 136); }
#footer_top_main .fa { color: rgb(136, 136, 136); margin-right: 3px; }
#footer_top_main .footer_menu ul li { padding: 0px 0px 10px; }
#footer_top_main .footer_menu a { text-decoration: underline; }
#footer_social ul li { float: left; margin-right: 10px; }
#footer_social ul li a { position: relative; display: block; width: 35px; height: 35px; border: 1px solid rgb(136, 136, 136); }
#footer_social ul li a:hover { border: 1px solid rgb(204, 204, 204); color: rgb(204, 204, 204); }
#footer_social .fa-vk { position: absolute; top: 9px; left: 8px; }
#footer_social .fa-instagram { position: absolute; top: 9px; left: 10px; }
#footer_social ul li:last-child { padding-left: 0px; }
#footer_bottom_main { padding: 30px 10px; }
#footer_copyrait { float: left; margin-top: 1px; color: rgb(136, 136, 136); font-size: 0.8em; }
#footer_copyrait a { text-decoration: underline; margin-right: 10px; font-size: 0.9em; }
#content .link_back { margin-top: 30px; }
#content .link_back .fa { width: 30px; height: 30px; line-height: 31px; color: rgb(255, 255, 255); background: rgb(72, 162, 22) none repeat scroll 0% 0%; border-radius: 50%; padding-right: 2px; margin-right: 10px; text-align: center; }
#content .link_back a { text-decoration: none; }
#content .link_back a:hover { opacity: 0.8; }
#sidebar_otzyv_block { position: relative; margin-bottom: 50px; padding: 15px; background: rgb(247, 247, 247) none repeat scroll 0% 0%; border: 1px solid rgb(247, 247, 247); border-radius: 4px; }
#sidebar_fixed { margin: 0px; width: 250px; }
#sidebar .sticky-wrapper { z-index: 1; }
@media screen and (max-width: 1100px) {
  #wrapper { box-sizing: border-box; }
}
@media screen and (max-width: 1024px) {
  #header_text { margin: 25px 3% 0px 0px; padding: 10px 3% 10px 0px; }
  #header_zayavka { margin: 26px 3% 0px 0px; padding: 10px 3% 10px 0px; }
  #flvmenu > ul > li a { padding: 15px 25px; }
}
@media screen and (max-width: 992px) {
  #header_zayavka { font-size: 18px; }
  #wrapper { padding: 70px 3%; }
  #header_text { display: none; }
  #sidebar { display: none; }
  #content { margin-left: 0px; }
  #breadcrumb { margin: 0px 0px 30px; }
}
@media screen and (max-width: 768px) {
  #header_top_email { border: 0px none; font-size: 16px; }
  #header_top_address { font-size: 16px; }
  #header_top, #header, #top_menu, #footer_top, #footer_bottom, #footer_center { width: 100%; min-width: 100%; }
  #header_top_main, #header_main, #top_menu_main, #wrapper, #footer_top_main, #footer_bottom_main, #footer_center_main { max-width: 100%; min-width: 100%; height: auto; padding: 0px; margin: 0px; }
  #header_top_search, #header_text, #block_company, #sidebar { display: none; }
  #header_top_address, #header_top_email, #header_logo, #header_callback, #header_contact, #header_zayavka { float: none; margin: 0px; padding: 0px; width: 100%; height: auto; text-align: center; }
  #header_logo { text-align: left; }
  #header_top { margin-bottom: 10px; }
  #header_top_address { margin: 10px 0px; }
  #header_top_email { margin: 0px 0px 10px; }
  #header_logo { margin: 20px auto; overflow: hidden; width: auto; display: table; }
  #header_logo_name { padding: 19px 0px 0px 10px; }
  #header_contact { margin-bottom: 30px; }
  #header_zayavka { margin: 0px auto 30px; border: 0px none; padding: 10px 20px; border-radius: 4px; background: rgb(247, 247, 247) none repeat scroll 0% 0%; width: 100%; box-sizing: border-box; }
  .fa-file-text-o { display: none; }
  #top_menu ul li:hover { background: rgba(0, 0, 0, 0.1) none repeat scroll 0% 0% ! important; }
  #breadcrumb { margin: 20px 0px 10px 10px; line-height: 150%; }
  #breadcrumb ul li:last-child { line-height: 1.8; }
  #wrapper { min-height: auto; padding: 0px; }
  #sidebar { float: none; width: 100%; text-align: center; }
  #sidebar_menu ul { margin: 0px; }
  #sidebar_menu ul li a { padding: 15px 0px; }
  #sidebar_fixed, .sticky-wrapper, #top_search, #sidebar_otzyv_block, #sidebar_photo_block { display: none; }
  #content { margin: 0px; padding: 20px 3%; width: 100%; box-sizing: border-box; }
  #content td, #content th { border: 0px none; padding: 15px 1%; }
  #content th { padding: 15px 2%; }
  #content table td:first-child { padding-left: 2%; }
  #footer { text-align: center; }
  #footer .title { margin: 40px 0px 20px; }
  #footer_top_main { padding: 35px 10px; }
  #footer_top_main .kontakty { float: none; width: 100%; padding-right: 5px; overflow: hidden; }
  #footer_top_main .company, #footer_top_main .proekty, #footer_top_main .dopmenu { float: none; width: 100%; padding: 0px 5px; }
  #footer_nomer { font-size: 1.7em; margin-bottom: 30px; }
  #footer_callback { margin-bottom: 30px; }
  #footer_callback a { padding: 6px 10px; }
  #footer_email { font-size: 1em; margin-bottom: 10px; }
  #footer_address { font-size: 1em; margin-bottom: 30px; }
  #footer_top_main .fa { margin-right: 3px; }
  #footer_bottom_main { padding: 30px 10px; }
  #footer_social { float: none; width: 190px; margin: 0px auto; }
  #footer_copyrait { float: none; }
  #footer_copyrait a { margin-right: 10px; }
}
@media screen and (max-width: 576px) {
}
a { color: rgb(255, 102, 0); }
.button { background: rgb(255, 102, 0) none repeat scroll 0% 0%; }
#header .fa { color: rgb(255, 102, 0); }
#header .hdslide_home .fa { background: rgb(255, 102, 0) none repeat scroll 0% 0%; }
#header .hdslide_contact_callback a { background: rgb(255, 102, 0) none repeat scroll 0% 0%; }
#header .hdtopmenu ul li:hover { background: rgb(255, 102, 0) none repeat scroll 0% 0% ! important; }
#header .hdtopmenu ul li a:hover { background: rgb(255, 102, 0) none repeat scroll 0% 0%; }
#top_menu_main { background: rgb(255, 102, 0) none repeat scroll 0% 0%; }
#flvmenu { background: rgb(255, 102, 0) none repeat scroll 0% 0%; }
#top_menu ul li ul li.item-selected { background: rgb(255, 102, 0) none repeat scroll 0% 0%; }
#top_menu ul li ul li:hover { background: rgb(255, 102, 0) none repeat scroll 0% 0%; }
#breadcrumb a:hover, #breadcrumb a:focus { color: rgb(255, 102, 0); }
#content .link_back a:hover { color: rgb(255, 102, 0); }
#content .link_back .fa { background: rgb(255, 102, 0) none repeat scroll 0% 0%; }
#content th { background: rgb(255, 102, 0) none repeat scroll 0% 0%; }
#section_element_menu ul.menu-element-list-active2 a.item-selected { color: rgb(255, 102, 0); }
#section_element_menu ul#vertical-multilevel-menu > li.menu-section-active2 > a { background: rgb(255, 102, 0) none repeat scroll 0% 0%; }
#section_element_menu ul#vertical-multilevel-menu li a:hover { background: rgb(255, 102, 0) none repeat scroll 0% 0%; }
@media (max-width: 768px) {
  #flvmenu > ul, #flvmenu > ul li ul { background: rgb(255, 102, 0) none repeat scroll 0% 0%; }
}
#header .hdtopmenu { display: block; position: relative; float: left; margin-left: 1px; height: 40px; width: 100px; border-left: 1px solid rgb(236, 236, 236); border-right: 1px solid rgb(236, 236, 236); background: rgb(247, 247, 247) none repeat scroll 0% 0%; }
#header .hdtopmenu nav ul { display: none; position: absolute; top: 100%; left: 0px; }
#header .hdtopmenu ul { background-color: rgb(255, 255, 255); box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.137); z-index: 9999; }
#header .hdtopmenu ul li { width: 200px; position: relative; }
#header .hdtopmenu ul li a { display: block; padding: 10px 5px 10px 20px; color: rgb(0, 0, 0); font-size: 0.9em; border-bottom: 1px solid rgb(238, 238, 238); }
#header .hdtopmenu ul li:hover { background-color: rgb(72, 162, 22); }
#header .hdtopmenu ul li:hover > a { color: rgb(255, 255, 255); }
#header .hdmname { padding-top: 10px; padding-left: 35px; font-size: 1em; text-transform: uppercase; cursor: pointer; }
#header .hdtopmenu:hover nav > ul { display: block; }
#header .hdmname::before { position: absolute; font: 0.9em FontAwesome; content: ""; top: 13px; left: 17px; }
#section_element_menu { position: relative; margin-bottom: 50px; overflow: hidden; }
ul#vertical-multilevel-menu { margin: 0px; padding: 0px; list-style: outside none none; width: 100%; border: 1px solid rgb(236, 236, 236); box-sizing: border-box; }
ul#vertical-multilevel-menu li { border-bottom: 1px solid rgb(236, 236, 236); }
ul#vertical-multilevel-menu li:last-child { border-bottom: 0px none; }
ul#vertical-multilevel-menu li a { display: block; padding: 13px 5px 13px 10px; color: rgb(0, 0, 0); text-decoration: none; border: medium none; font-size: 0.93em; }
#section_element_menu ul li.menu-element-items { border: 0px none; }
#section_element_menu ul.menu-element-list-active2 a { padding-left: 35px; }
#section_element_menu ul.menu-element-list-active2 { border: 0px none; background: rgb(252, 252, 252) none repeat scroll 0% 0%; }
#section_element_menu ul.menu-element-list-active2 li { border: 0px none; }
#section_element_menu ul.menu-element-list-active2 a.item-selected:hover { color: rgb(255, 255, 255); }
#section_element_menu ul#vertical-multilevel-menu > li.menu-section-active2 > a { color: rgb(255, 255, 255); }
#section_element_menu ul#vertical-multilevel-menu > li.menu-section > a::before { color: rgb(0, 0, 0); content: ""; font-family: FontAwesome; font-size: 18px; font-weight: normal; position: relative; padding-right: 10px; }
#section_element_menu ul#vertical-multilevel-menu > li.menu-section-active2 > a::before { color: rgb(255, 255, 255); content: ""; font-family: FontAwesome; font-size: 18px; font-weight: normal; position: relative; padding-right: 10px; }
#section_element_menu .menu-element-list { display: none; }
#section_element_menu ul#vertical-multilevel-menu li a:hover { color: rgb(255, 255, 255) ! important; }
#section_element_menu ul#vertical-multilevel-menu > li.menu-section > a:hover::before { color: rgb(255, 255, 255); }
#section_element_menu ul.menu-element-list-active2 a.item-selected:hover { color: rgb(255, 255, 255); }
